.status-bar {
  width: 100%;
  padding: 1rem;
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid rgba(58, 134, 255, 0.2);
}

.status-bar h3 {
  font-size: 1.5rem;
  color: cornsilk;
  margin: 0;
}